[Unit]
Description=Windows startup VM
After=libvirtd.service

[Service]
Type=oneshot
WorkingDirectory=/var/lib/play-on-passthru
ExecStart=/usr/local/sbin/play-on-passthru-up

[Install]
WantedBy=multi-user.target
